/* configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

body {
    font-size: 1.6rem;
    background: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    background-color: aliceblue;
    border: none;
}

input:focus, .button-box button:focus {
    outline: 2px solid #61d8d8;
    opacity: .7;
    transition: all 150ms ease-in;
}

::placeholder {
    font-style: italic;
}

/* configuraçoes gerais do formulário */

form {
    display: grid;
    grid-template-rows: 1.5fr repeat(4, 1fr) 1fr;
    max-width: 80rem;
    min-width: 10rem;
    max-height: 850px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0 , 0.6);
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

form h1 {
    padding: 4rem;
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

label {
    margin-left: 4rem;
}

.gender-box label {
    padding: 1.5rem 0;
    margin: 0.5rem;
    cursor: pointer;
}

.name-box, .email-box {
    display: flex;
    flex-direction: column;
}

.name-box, .email-box, .password-box {
    margin-bottom: 1.5rem;
}

/* estilizando os input mas só os que precisam */
input:not(.password-box input, .button-box input, .gender-box input) {
    padding: 0.6rem;
    margin: 1rem 4rem;
}

/* estilizando as caixas das senhas */
.password-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.password-items {
    display: flex;
    flex-direction: row;
}

.password-box input {
    padding: .6rem;
    margin: 1rem 4rem;
}

.password-box input + input {
    margin-left: 0;
}

/* estilização das opções de gênero */

.gender-box {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gender-box p {
    padding: 0.5rem;
}

/* estilização dos botões */

.button-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
}

.button-box input, .button-box button {
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.button-box input:hover, .button-box button:hover {
    opacity: 0.7;
    transition: all 350ms ease-in;
}

.button-box input, .button-box button {
    padding: 0.75rem;
    margin: 1rem 4rem;
    border-radius: 20px;
    border: 1px solid lightblue;
    background-color: aliceblue;
}



/* media query  */
@media (max-width: 865px) {
    .password-items {
        display: flex;
        flex-direction: column;
    }

    .password-box input + input {
        margin-left: 4rem;
    }

    .gender-box {
        display: flex;
        flex-direction: column;
    }

    .gender-box input, .gender-box label {
        padding: 0;
    }

    .button-box {
        padding: 0;
    }
}